MultiFit: "RSGraviton_ww_30TeV"
  OutputDir: /eos/experiment/fcc/hh/analysis/RSGraviton/FFCFitter_outputs/fcc_v01/combined
  Label: "fullHad + halfLep"
  Combine: TRUE
  Compare: FALSE
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POIRange: -100,100
  Combine: TRUE
  DataName: "asimovData"

Fit: "RSG-fullHad"
  ConfigFile: config_FCC/RSGraviton_ww/fcc_v01/allHad/RSG_allHad_30TeV.config
  Label: "RSG-fullHad"
  
Fit: "RSG-halfLep"
  ConfigFile: config_FCC/RSGraviton_ww/fcc_v01/semiLep/RSG_semiLep_30TeV.config
Label: "RSG-halfLep"



