MultiFit: "RSGraviton_ww_2TeV"
  OutputDir: Outputs/combined_fcc_v01/RSGraviton_ww/
  Label: "allHad + semiLep"
  Combine: TRUE
  Compare: FALSE
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POIRange: -100,100
  Combine: TRUE
  DataName: "asimovData"

Fit: "RSG-allHad"
  ConfigFile: config_FCC/RSGraviton_ww/allHad/RSG_allHad_2TeV.config
  Label: "RSG-allHad"
  
Fit: "RSG-semiLep"
  ConfigFile: config_FCC/RSGraviton_ww/semiLep/RSG_semiLep_2TeV.config
Label: "RSG-semiLep"



