Job: "Zprime_mumu_10TeV"
  OutputDir:Outputs/helhc_v01/Zprime/mumu/
  Label: "Zprime"
  CmeLabel: "27 TeV"
  LumiLabel: "15 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/eos/experiment/fcc/helhc/analyses/Zprime_ll/FlatTreeAnalyzer_outputs/helhc_v01/mumu/root_m_Z_10TeV/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 15000000
  MCstatThreshold: 0.05
  FCCLabel:"Simulation"

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0

Region: "SR-mumu"
  Type: SIGNAL
  HistoFile: "histos"    
  VariableTitle: "m_{Zprime} [GeV]"
  Label: "Signal Region"
  ShortLabel: "SR-mumu"
  Rebin:4
  LogScale:TRUE

Sample: "DrellYan"
  Type: BACKGROUND
  Title: "Drell-Yan"
  FillColor: 400
  LineColor: 1
  HistoFile: "histos"
  HistoName: "Drell-Yan_sel0_mzp"
  NormalizedByTheory:TRUE 

Sample: "Zprime"
  Type: SIGNAL
  Title: "Z\'"
  FillColor: 632
  LineColor: 632
  HistoFile: "histos"
  HistoName: "m_{Z} = 10 TeV_sel0_mzp"
  NormalizedByTheory:TRUE 

NormFactor: "SigXsecOverSM"
  Title: "#mu(Zprime)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: Zprime
  Category: Theory

Systematic: "DrellYanXsec"
  Title: "Drell-Yan Cross section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: DrellYan

