MultiFit: "Zprime_ll_6TeV"
  OutputDir: Outputs/helhc_v01/Zprime/ll/
  Label: "Zprime"
  Combine: TRUE
  Compare: FALSE
  CmeLabel: "27 TeV"
  LumiLabel: "15 ab^{-1}"
  POIRange: -100,100
  Combine: TRUE
  DataName: "asimovData"

Fit: "SR-ee"
  ConfigFile: config_HELHC/Zprime_ll/helhc_v01/Zprime_ee_6TeV.config
  Label: "SR-ee"
  
Fit: "SR-mumu"
  ConfigFile: config_HELHC/Zprime_ll/helhc_v01/Zprime_mumu_6TeV.config
  Label: "SR-mumu"
