Job: "RSGraviton_halfLep_5TeV"
  OutputDir:/eos/experiment/fcc/hh/analyses/RSGraviton/FCCFitter_outputs/fcc_v01/halfLep/
  Label: "RSGraviton"
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/eos/experiment/fcc/hh/analyses/RSGraviton/FlatTreeAnalyzer_outputs/fcc_v01/halfLep/root_mRSG_5TeV/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 30000000
  MCstatThreshold: 0.05
  FCCLabel:"Simulation"

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0

Region: "RSG_halfLep"
  Type: SIGNAL
  HistoFile: "histos"    
  VariableTitle: "m_{RSG} [GeV]"
  Label: "Signal Region"
  ShortLabel: "RSG_halfLep"
  LogScale:TRUE

Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 30
  LineColor: 1
  HistoFile: "histos"
  HistoName: "VV_sel0_RSGravitonReconstructedMass"
  NormalizedByTheory:TRUE
 
Sample: "VVnlo"
  Type: BACKGROUND
  Title: "VVnlo"
  FillColor: 32
  LineColor: 1
  HistoFile: "histos"
  HistoName: "VVnlo_sel0_RSGravitonReconstructedMass"
  NormalizedByTheory:TRUE

Sample: "tt"
  Type: BACKGROUND
  Title: "tt"
  FillColor: 33
  LineColor: 1
  HistoFile: "histos"
  HistoName: "tt_sel0_RSGravitonReconstructedMass"
  NormalizedByTheory:TRUE

Sample: "QCD"
  Type: BACKGROUND
  Title: "QCD"
  FillColor: 34
  LineColor: 1
  HistoFile: "histos"
  HistoName: "QCD_sel0_RSGravitonReconstructedMass"
  NormalizedByTheory:TRUE

Sample: "W+jets"
  Type: BACKGROUND
  Title: "W+jets"
  FillColor: 38
  LineColor: 1
  HistoFile: "histos"
  HistoName: "W+jets_sel0_RSGravitonReconstructedMass"
  NormalizedByTheory:TRUE

Sample: "RSGraviton"
  Type: SIGNAL
  Title: "RSG\'"
  FillColor: 632
  LineColor: 632
  HistoFile: "histos"
  HistoName: "m_{RSG} = 5 TeV_sel0_RSGravitonReconstructedMass"
  NormalizedByTheory:TRUE 

NormFactor: "SigXsecOverSM"
  Title: "#mu(RSGraviton)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: RSGraviton
  Category: Theory

