Job: "RSGraviton_semiLep_20TeV"
  OutputDir:Outputs/fcc_v01/RSGraviton_ww/semiLep/
  Label: "RSGraviton"
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/afs/cern.ch/work/i/iarts/FCCSW/FlatTreeAnalyzer/Output/RSG/root_mRSG_20TeV/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 30000000
  MCstatThreshold: 0.05
  FCCLabel:"Simulation"

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0

Region: "RSG_semiLep"
  Type: SIGNAL
  HistoFile: "histos"    
  VariableTitle: "m_{RSG} [GeV]"
  Label: "Signal Region"
  ShortLabel: "RSG_semiLep"
  LogScale:TRUE

Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 30
  LineColor: 1
  HistoFile: "histos"
  HistoName: "VV_sel1_RSGravitonReconstructedMass"
  NormalizedByTheory:TRUE 

Sample: "tt"
  Type: BACKGROUND
  Title: "tt"
  FillColor: 33
  LineColor: 1
  HistoFile: "histos"
  HistoName: "tt_sel1_RSGravitonReconstructedMass"
  NormalizedByTheory:TRUE

Sample: "QCD"
  Type: BACKGROUND
  Title: "QCD"
  FillColor: 34
  LineColor: 1
  HistoFile: "histos"
  HistoName: "QCD_sel1_RSGravitonReconstructedMass"
  NormalizedByTheory:TRUE

Sample: "RSGraviton"
  Type: SIGNAL
  Title: "RSG\'"
  FillColor: 632
  LineColor: 632
  HistoFile: "histos"
  HistoName: "m_{RSG} = 20 TeV_sel1_RSGravitonReconstructedMass"
  NormalizedByTheory:TRUE 

NormFactor: "SigXsecOverSM"
  Title: "#mu(RSGraviton)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: RSGraviton
  Category: Theory

