Job: "Zprime_jj_20TeV"
  OutputDir:Outputs/fcc_v02/Zprime/jj_10p/
  Label: "Zprime"
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/eos/experiment/fcc/hh/analyses/Dijet_reso/FlatTreeAnalyzer_outputs/fcc_v02/root_m_Z_20TeV/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 30000000
  MCstatThreshold: 0.05
  FCCLabel:"Simulation"

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0

Region: "SR1"
  Type: SIGNAL
  HistoFile: "histos"    
  VariableTitle: "m_{Z} [GeV]"
  Label: "Signal Region"
  ShortLabel: "SR-sel1"
  Rebin:2
  LogScale:TRUE

Sample: "dijet"
  Type: BACKGROUND
  Title: "dijet"
  FillColor: 400
  LineColor: 1
  HistoFile: "histos"
  HistoName: "QCD_sel1_Mj1j2_pf04_10p"
  NormalizedByTheory:TRUE 

Sample: "Zprime"
  Type: SIGNAL
  Title: "Zprime"
  FillColor: 632
  LineColor: 632
  HistoFile: "histos"
  HistoName: "m_{Z} = 20 TeV_sel1_Mj1j2_pf04_10p"
  NormalizedByTheory:TRUE 

NormFactor: "SigXsecOverSM"
  Title: "#mu(Z)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: Zprime
  Category: Theory

Systematic: "dijetXsec"
  Title: "dijet Cross section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: dijet
