Job: "LQ_mumu_30TeV"
  OutputDir:Outputs/fcc_v02/LQ/mumu/
  Label: "LQ"
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/eos/experiment/fcc/hh/analyses/Zprime_mumu_flav_ano/FlatTreeAnalyzer_outputs/fcc_v02/May2018_HTsplit_prod/lqmumu/root_m_LQ_30TeV/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 30000000
  MCstatThreshold: 0.05
  FCCLabel:"Simulation"

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0

Region: "SR-mumu"
  Type: SIGNAL
  HistoFile: "histos"    
  VariableTitle: "m_{LQ} [GeV]"
  Label: "Signal Region"
  ShortLabel: "SR-mumu"
  Rebin:10
  LogScale:TRUE

Sample: "DrellYan"
  Type: BACKGROUND
  Title: "Drell-Yan"
  FillColor: 400
  LineColor: 1
  HistoFile: "histos"
  HistoName: "Drell-Yan_sel0_mlq"
  NormalizedByTheory:TRUE 

Sample: "LQ"
  Type: SIGNAL
  Title: "LQ"
  FillColor: 632
  LineColor: 632
  HistoFile: "histos"
  HistoName: "m_{LQ} = 30 TeV_sel0_mlq"
  NormalizedByTheory:TRUE 

NormFactor: "SigXsecOverSM"
  Title: "#mu(LQ)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: LQ
  Category: Theory

Systematic: "DrellYanXsec"
  Title: "Drell-Yan Cross section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: DrellYan
  Category: Drell Yan uncertainty
  Regions: SR
